<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Limundo tracker</title>
</head>
<body>
    <h1>Dobro dosli na tracker za Limundo aukcije</h1>
    <div class="search">
        <input id="searchInput" type="text" placeholder="Unesite pojam...">
        <button id="searchButton" >Button</button>

        <script>
        var input = document.getElementById("searchInput");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           document.getElementById("searchButton").click();
          }
        });
        </script>
    </div>
    <br>
    <br>
    <br>
    <div {{ hide }}>
        <div class="price and expires" style="hidden">
           <p style="float: left;">Cena: {{ price }}</p>
           <p style="float: right;">Expires: {{ expires }}</p>
        </div>
        <div class="current_ad">
            <a class='open-ad'  href={{ ad_name }}>
              <h3>Add name</h3>
            </a>
            <img src={{ picture }} alt="User Image" width="400" height="400">
        </div>
        <div class="save-pass">
              <form method="post">
                 <input type="submit" value="Save" >
                 <input type="submit" value="Pass" >
              </form>
        </div>
    </div>
</body>
</html>