<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Limundo tracker</title>
   </head>
   <body>
      <h1>Dobro dosli na tracker za Limundo aukcije</h1>
      <div class="search">
         <form action="/search_ad" method="post" class="searchForm">
            <input name="searchInput" type="text" placeholder="{{ placeholder }}" >
         </form>
      </div>
      <div {{ hide }}>
      <div class="price and expires">
         <p style="float: left;">Cena: {{ price }}</p>
         <p style="float: right;">Expires: {{ expires }}</p>
      </div>
      <div class="current_ad">
         <a class='open-ad'  href={{ ad_name_href }}>
            <h3> {{ad_name}} </h3>
         </a>
         <img class="displayed" style="text-align: center;" src={{ picture }} alt="User Image" width="400" height="400">
      </div>
      <div class="save-pass">
         <divs style="float: left;">
         <form action="/store" name="saveForm" id="buttonsSave" method="post">
            <input  name="save" type="submit" value="Sacuvaj">
         </form>
      </div>
      <div style="float: right;">
         <form action="/dont_store" name="passForm" id="buttonPass" method="post">
            <input name="pass" type="submit" value="Propusti" >
         </form>
      </div>
      </div>
      </div>
   </body>
</html>