<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Limundo tracker</title>
</head>
<body>
    <h1>Dobro dosli na tracker za Limundo aukcije</h1>
    <div class="search">
        <input type="text" placeholder="Unesite pojam...">
    </div>
    <br>
    <br>
    <br>
    <div class="price and expires">
            <p style="float: left;">Price : 500</p>
            <p style="float: right;">Expires : 1 day</p>
        </div>
    <br>
    <br>
    <br>
    <div class="current_ad">
        <a class='btn btn-link'  href="https://www.limundo.com/kupovina/Knjige/Alternativna-ucenja/DON-HUANOV-NAUK-PUT-ZNANJA-JAKI-INDIJANACA/94832449"><h3>Add name</h3></a>
        <img src="https://www.limundo.com/slika-DON-HUANOV-NAUK-PUT-ZNANJA-JAKI-INDIJANACA-260984037v280h210.jpg" alt="User Image" width="400" height="400">
    </div>
    <div class="price and expires">
        <div class="container">
            <form method="post">
                <input type="submit" value="Click Me" >
            </form>
        </div>

            <button style="float: right;">Propusti</button>
        </div>
</body>
</html>