{% extends 'login_signup_template.html' %}

{%block title%} {{save}} {%endblock%}

{%block navbar%}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/search_ad">Search ads</a>
        </li>
        {% if remove_store == "Obrisi" %}
            <li class="nav-item">
            <a class="nav-link active" href="/saved">Saved</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/passed">Unsaved</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/saved">Saved</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" href="/passed">Unsaved</a>
            </li>
        {%endif%}
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
         <a class="nav-link" href="#"> {{username}} </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="/logout">Log out</a>
      </li>
   </ul>
</div>

{%endblock%}
{%block body%}
    {% if remove_store == "Sacuvaj" %}
        <form action="/passed" method="post" id="selectForm" class="center">
            <select class="browser-default custom-select" id="selected_search" name="picked">
                <option selected="">{{ dropdown }}</option>
                    {%for search in searches%}
                    <option value="{{search}}"> {{ search }}</option>
                    {%endfor%}
            </select>
        </form>
        <script type="text/javascript">
            $(function() {
                $('#selected_search').on('change', function(event) {
                    document.getElementById("selectForm").submit();
                });
            });
        </script>
    {% else %}
        <form action="/saved" method="post" id="selectFormSaved" class="center">
            <select class="browser-default custom-select" id="selected_search_saved" name="picked">
                <option selected="">{{ dropdown }}</option>
                    {%for search in searches%}
                    <option value="{{search}}"> {{ search }}</option>
                    {%endfor%}
            </select>
        </form>
        <script type="text/javascript">
            $(function() {
                $('#selected_search_saved').on('change', function(event) {
                    document.getElementById("selectFormSaved").submit();
                });
            });
        </script>
    {% endif %}

    <div class="row" {{ hide }}>
    {%for ad in ads%}
        <div class="col-xs-12 col-md-4">
            <table class="table">
                <thead class="thead-dark center">
                    <tr>
                        <th scope="col" colspan="3">{{ ad["name"] }}</th>
                    </tr>
                </thead>
                <tbody class="table table-light" align="center">
                    <tr>
                    <td colspan="3">
                        <a href={{ ad["link"] }} target=_blank{{ ad["link"] }}>
                        <img src="{{ ad['picture'] }}" width="100" height="100"></td>
                </tr>
                    <tr>
                    <td>Cena:<br>
                        {{ ad["price"] }}</td>
                    <td>Istice za:<br>
                        {{ ad["expire"] }}</td>

                    <td>
                        {% if remove_store == "Obrisi" %}
                            <form action="/saved" method="post">
                                <input type="submit" name={{ad["id"]}} class="btn btn-success" value={{ remove_store }}>
                            </form>
                        {% else %}
                            <form action="/passed" method="post" name={{ad["id"]}}>
                                <input type="submit" name={{ad["id"]}} class="btn btn-success" value={{ remove_store }}>
                            </form>
                        {%endif%}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {%endfor%}
    </div>
{%endblock%}