<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <meta charset="UTF-8">
   <title>Limundo tracker</title>
</head>

{%block title%} {{ signup_title }} {% endblock %}

{%block content%}
<form action = '/signups' method="post">
   <p>creds:</p>
   <p><input type="text"  placeholder="username"  name="username" /></p>
   <p><input type="text"  placeholder="password"  name="password" /></p>
   <p><input type="submit" value="submit" /></p>
</form>
{%endblock%}